{% extends "header_footer.html" %}

{% block title %}KUCSE - Faculty{% endblock %}

{% block content %}


<h1>Faculty</h1>


<ul>
    <li>Prof. Dr. Kalyani Mali (HOD) &bull; <a href="https://klyuniv.ac.in/professors/kalyani-mali/" target="_blank"
            rel="noopener noreferrer">details</a>
    </li>
    <li>Prof. Dr. Priya Ranjan Sinha Mahapatra &bull; <a
            href="https://klyuniv.ac.in/professors/dr-priya-ranjan-sinha-mahapatra/" target="_blank"
            rel="noopener noreferrer">details</a>
    </li>
    <li>Prof. Dr. Utpal Biswas &bull; <a href="https://klyuniv.ac.in/professors/utpal-biswas/" target="_blank"
            rel="noopener noreferrer">details</a>
    </li>
    <li>Prof. Dr. Anirban Mukhopadhyay &bull; <a href="https://klyuniv.ac.in/professors/a-mukhopadhyay/" target="_blank"
            rel="noopener noreferrer">details</a>
    </li>
    <li>Prof. Dr. Jyotsna Kumar Mandal &bull; <a href="https://klyuniv.ac.in/professors/jyostna-kumar-mandal/"
            target="_blank" rel="noopener noreferrer">details</a>
    </li>
    <li>Dr. Debarata Sarddar, Asst. Prof. &bull; <a href="https://klyuniv.ac.in/professors/debabrata-sarddar/"
            target="_blank" rel="noopener noreferrer">details</a>
    </li>
    <li>Mr. Sukanta Majumder, Asst. Prof.&bull; <a href="https://klyuniv.ac.in/professors/sukanta-majumder/"
            target="_blank" rel="noopener noreferrer">details</a>
    </li>
    <li>Mr. Jaydeep Paul, Asst. Prof. (Cont.)
    </li>
</ul>
{% endblock %}