{% extends "header_footer.html" %}

{% block title %}KUCSE - Faculty{% endblock %}

{% block content %}


<h1>Faculty</h1>


<p>
    The Department of Computer Science & Engineering is relatively new compared to other academic
    departments of the University. This department was established in 1992. It started functioning in the
    Department of Physics, University of Kalyani, with only one course and that was Postgraduate Diploma in
    Computer Application (PGDCA) with student strength of fifteen. Subsequently, at the end of 2002, the
    Department started functioning in its new building. The two existing courses, Master in Computer
    Application (MCA) and Master of Technology in Computer Science (M.Tech.) were started from 2001 and 2003
    respectively.


</p>

{% endblock %}