{% extends "header_footer.html" %}

{% block description %}Dept. of CSE, University of Kalyani.{% endblock %}

{% block title %}Dept. of CSE, KU{% endblock %}

{% block content %}

<h1>welcome to the department.</h1>

<img class="deptimg" src="static/dept.png" alt="Department Image">
<p>
    To be filled. Lorem ipsum dolor sit amet. Eos sunt ducimus ex cumque veniam aut laudantium illum sit atque officia
    est inventore optio qui sunt consectetur eum ratione consequuntur. Nam omnis harum cum totam quia aut blanditiis
    blanditiis. Est inventore sequi id voluptatem aliquam quo autem perspiciatis sed molestiae odio et explicabo
    nesciunt. Non temporibus ipsam et expedita molestiae in exercitationem voluptas qui culpa veniam. Ut laudantium
    ducimus qui cumque illum sed provident quae et natus illo eum culpa beatae ut neque cumque et odio asperiores.
</p>
<p>
    To be filled. Lorem ipsum dolor sit amet. Eos sunt ducimus ex cumque veniam aut laudantium illum sit atque officia
    est inventore optio qui sunt consectetur eum ratione consequuntur. Nam omnis harum cum totam quia aut blanditiis
    blanditiis. Est inventore sequi id voluptatem aliquam quo autem perspiciatis sed molestiae odio et explicabo
    nesciunt. Non temporibus ipsam et expedita molestiae in exercitationem voluptas qui culpa veniam. Ut laudantium
    ducimus qui cumque illum sed provident quae et natus illo eum culpa beatae ut neque cumque et odio asperiores.
</p>

<p>For further information you may also visit : <br>
    <a href="https://klyuniv.ac.in/academic/faculties/faculty-of-engineering-technology-management/department-of-computer-science-and-engineering/"
        rel="noopener noreferrer">University of Kalyani - Department of Computer Science and Engineering</a>
</p>

{% endblock %}